body{
    background-color: black;
    color:white;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
    
}

h1{
    font-weight: 100;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2{
    font-size: 30px;
    line-height: 10px;
}


span{
    color:blueviolet;
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    width: 500px;
    
}

.imagem{
    width: 15;
}

a{
    color: white;
}
a:hover{
    color: blueviolet;
    transition: 0.5s all;
}

#amanda-btn{
    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 20px;
}
#amanda-btn:hover{
    background-color: blueviolet;
    color: white;
}
#heloisa-btn{
    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 20px;
}
#heloisa-btn:hover{
    background-color: blueviolet;
    color: white;
}
#marilia-btn{
    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 20px;
}
#marilia-btn:hover{
    background-color: blueviolet;
    color: white;
}

form{
    display:flex;
    flex-direction:column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}
